/* Common styles for both dark and light mode */
html {
  height: 100%;
}

.button-container {
  position: fixed;
  bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.button {
  position: relative;
  margin: 5px;
  flex: 1 0 120px;
  max-width: 120px;
  height: 120px;
  background-size: cover;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 22px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  z-index: 1;
}

.button-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
  border-radius: 15px;
}

/* Styles for dark mode */
.dark-mode {
  background-color: #222222;
  color: #ffffff;
}

.dark-mode #toggleModeButton {
  background-color: #ffffff;
  color: #000000;
}

/* Styles for light mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode #toggleModeButton {
  background-color: #bebebe;
}

#toggleModeButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
}

model-viewer {
  width: 100%;
  height: calc(100vh - 200px);
  margin-top: 60px;
}
